{%extends "base.html"%}
{%block main%}
<div class="d-flex justify-content-center mt-5">
    {%if msg%}
    <h3>{{msg}}</h3>
    {%endif%}
    {%if is_db%}
    <form action="/ckan" method="post">
        <button class="btn btn-dark" onclick="show_spinner(this)">Crear CKAN</button>
        <div class="spinner-border visually-hidden" role="status" id="spinner">
            <span class="visually-hidden">Loading...</span>
        </div>
    </form>
    {%else%}
    {%if not msg%}
    <button class="btn btn-dark" onclick="show_spinner(this)" disabled>Crear CKAN</button>
    {%endif%}
    {%endif%}
</div>
<script>
    const show_spinner = (btn) => {
        document.querySelector("#spinner").className = "spinner-border";
        btn.className = "visually-hidden"
    }
</script>
{%endblock%}