{%extends "base.html"%}
{%block main%}
<div class="d-flex justify-content-center mt-5">
    {%if msg%}
    <h5>{{msg}}</h5>
    {%else%}
    <form action="/" method="post">
        <button class="btn btn-dark" onclick="show_spinner(this)">Crear DB</button>
        <div class="spinner-border visually-hidden" role="status" id="spinner">
            <span class="visually-hidden">Loading...</span>
          </div>
    </form>
    {%endif%}
</div>
<script>
    const show_spinner = (btn) => {
        document.querySelector("#spinner").className = "spinner-border";
        btn.className = "visually-hidden"
    }
</script>
{%endblock%}